/* Globals */
.no-padding {
  padding: 0px !important;
}

.fa-icon-white {
  color: #fff !important;
}

.dataTables_paginate .pagination .paginate_button {
  padding: 0px !important;
  margin: 0px !important;
}

.dataTables_paginate .pagination .paginate_button a:hover {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-left: 1px solid black !important;
}